/*---------------------------------------------------
    Gafurov Amir
  ---------------------------------------------------
    mail: gafurovamir@gmail.com
    skype: amir73911
  ---------------------------------------------------*/

@import "elements.less";
@import "base.less";

* {
  .box-sizing();
}

body {
  background: #fff;
  font-family: 'geometriaregular', sans-serif;
  padding: 92px 0 0;
  font-size: 100%;
}
.site-wrapper {
  width: 100%;
  max-width: 936px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}
.wide_site_wrapper {
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

h1, h2, h3 {
  font: 45px/1.2em 'geometriamedium';
  color: #fe6900;
  text-transform: uppercase;
  letter-spacing: 2px;
  span {
    font-family: 'geometriaregular';
    color: #da5a00;
  }
}
h2 {
  font-size: 36px;
  letter-spacing: 0;
}
h3 {
  font-size: 30px;
  letter-spacing: 0;
  font-family: 'geometriabold';
  &.gray {
    color: #d5d5d5;
  }
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0 10px;
  min-height: 60px;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fffffff',GradientType=0 );

  &.scroll {
    .logo {
      display: none;
    }
  }
  .site-wrapper {
    position: relative;
  }
  .menu_toggle {
    background: url("../images/menu_toggle.png") no-repeat;
    width: 51px;
    height: 37px;
    position: absolute;
    top: 50px;
    right: 30px;
    display: none;
  }
  .logo {
    .pull-left;
    background: url("../images/logo.png") no-repeat;
    width: 175px;
    height: 87px;
    display: block;
    margin-top: 10px;
    margin-left: -11px;
  }
  .main_nav {
    margin-top: 23px;
    .pull-right;
    ul {
      .child-valign(middle, 15px);
      li {
        padding-left: 42px;
        position: relative;
        &:before {
          content: "|";
          color: #000;
          font: 15px 'geometriabold';
          position: absolute;
          left: 19px;
          top: -3px;
        }
        &:first-child {
          &:before {
            content: "";
          }
        }
        a {
          font-family: 'geometriabold';
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
        }
      }
    }
  }
  .mobile_nav {
    background: #1a1a1a;
    position: absolute;
    top: 133px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: none;
    ul {
      li {
        padding: 4px 0;
        a {
          color: #fff;
          font: 27px 'geometriabold';
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
/* header */

.earth_rush,
.slider {
  text-align: center;
  font-size: 0;
  margin-bottom: -1px;
  img {
    width: 100%;
    max-width: 1280px;
    display: inline-block;
  }
}
.slider {
  img {
    max-width: 100%;
  }
}

.game_caption {
  padding: 20px 0;
  font: 21.27px 'geometriabold';
  color: #0c0c0c;
  .site-wrapper {
    position: relative;
  }
  a {
    font-family: 'geometriamedium';
    color: #0c0c0c;
  }
  .development {
    text-align: justify;
    position: absolute;
    top: 5px;
    right: 10px;
    height: 100%;
    .child-valign(middle, 14px);
    width: 45%;

    line-height: 0;
    font-size: 1px; /* 1px для Opera */
    &:after {
      width: 100%;
      height: 0px;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
    }
    span {
      font: 40px 'geometriabold_italic';
      color: #0c0c0c;
      text-transform: uppercase;
    }
  }
}

/* orange_block */
.orange_block {
  border: 5px solid #ffd23d;
  padding: 30px 25px;
  p {
    font: 26px/30px 'geometriamedium';
    color: #fff;
    padding-bottom: 30px;
    span {
      text-transform: uppercase;
      font-family: 'geometriabold';
    }
  }
}
/* orange_block */

.core_team {
  text-align: center;
  h2 {
    font: 34px 'geometriabold';
    color: #fff;
    margin-bottom: 15px;
    span {
      font-family: 'geometriamedium';
      color: #fff;
    }
  }
  .core_team_items {
    .child-valign(top, 14px);
    .item {
      width: 25%;
      padding: 20px 10px;
      color: #fff;
      &:hover {
        .image .item_about {
          top: 0;
        }
        .name {
          color: #ffae00;
        }
      }
      .image {
        overflow: hidden;
        height: 240px;
        position: relative;
        &>img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
        .item_about {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          background: rgba(0,0,0,.7);
          padding: 20px;
          .transition();
          font: 13px/18px 'geometriaregular';
          .links {
            position: absolute;
            left: 0;
            bottom: 20px;
            width: 100%;
            text-align: center;
            a {
              margin: 0 2px;
              display: inline-block;
              vertical-align: middle;
              width: 34px;
              height: 34px;
              text-align: center;
              .child-valign_wbefore(middle, 12px);
              background: rgba(0,0,0,.3);
            }
          }
        }
      }
      .name {
        font: 16px 'geometriamedium';
        padding: 8px 0 5px;
      }
      .post {
        font: 12px 'geometriaregular';
        .opacity(0.56);
      }
    }
  }
}

/* Contacts form */
.contact {
  background: url("../images/contact_back.jpg") center bottom no-repeat;
  min-height: 707px;
  padding: 50px 0 20px;
  color: #000;
  h2 {
    color: #910180;
    font-size: 45.54px;
    text-align: center;
    span {
      color: #910180;
    }
  }
  h3 {
    color: #9dce05;
    font-family: 'geometriamedium_italic';
    text-align: center;
    span {
      color: #9dce05;
      font-family: 'geometriaitalic';
    }
  }
  p.head_p {
    text-align: center;
    font: 24px 'geometriamedium_italic';
    margin-bottom: 40px;
  }
  .feedback_form_caption {
    font: 16px/25px 'geometriabold';
    .child-valign(top, 16px);
    text-align: center;
    margin: 15px 0 0;
    a {
      color: #000;
    }
    .left {
      width: 220px;
      text-align: left;
    }
    .right {
      width: 640px;
      text-align: left;
      padding-left: 20px;
    }
  }
  .feedback_form {
    text-align: center;
    .child-valign(middle, 14px);
    .address {
      font: 18px/24px 'geometriamedium';
      text-align: left;
      width: 220px;
    }
    .form {
      width: 640px;
      font-size: 0;
      text-align: left;
      .input {
        margin-left: 20px;
        width: 293px;
      }
      textarea.input {
        width: 606px;
        margin-top: 15px;
        margin-bottom: 20px;
      }
    }
  }
}
/* Contacts form */

/* footer */
footer {
  padding: 50px 0 60px;
  background: #000;
  .logos {
    margin-bottom: 40px;
    .child-valign(baseline, 14px);
    .main_logo {
      width: 32%;
    }
    .logo_list {
      text-align: right;
      width: 68%;
      .child-valign(baseline, 14px);
      .logo {
        margin-left: 25px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .copyrights {
    font: 13.75px 'geometriaregular';
    color: #5a5959;
  }
}
/* footer */


/* media queries */
@media (max-width: 896px) {
  .contact {
    .address {
      text-align: center !important;
    }
  }
  .feedback_form_caption {
    &>* {
      margin-bottom: 15px;
      text-align: center !important;
    }
    .right {
      width: auto !important;
    }
  }
}
@media (max-width: 830px) {
  .logos {
    text-align: center;
    &>* {
      text-align: center !important;
      width: 100% !important;
    }
    .main_logo {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 760px) {

}

@media (max-width: 700px) {
  .feedback_form_caption {
    text-align: left !important;
    &>* {
      text-align: left !important;
      padding-left: 20px !important;
    }
  }
  .feedback_form {
    .form {
      width: 100% !important;
      padding: 0 20px;
      .input {
        width: 100% !important;
        margin: 0 0 15px !important;
      }
    }
    .address {
      padding: 0 20px;
      text-align: left !important;
      width: 100% !important;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 660px) {
  body {
    padding-top: 150px;
  }
  .site-wrapper,
  .wide_site_wrapper {
    padding: 0 20px;
  }
  h1 {
    letter-spacing: 0 !important;
    font-size: 43px !important;
  }
  header {
    height: 133px;
    background: #000;
    padding: 0 !important;
    &.scroll {
      .logo {
        display: block;
      }
    }
    .logo {
      margin: 20px 0 0 !important;
    }
    .menu_toggle {
      display: block;
    }
    .main_nav {
      display: none;
    }
  }
  .core_team .item {
    width: 50% !important;
  }
  .game_caption {
    text-align: center;
    .development {
      margin-top: 10px;
      width: 100% !important;
      position: relative;
      text-align: justify;
      &.two {
        text-align: center;
      }
    }
  }
  .logos {
    .logo_list {
      .logo {
        width: 100%;
        margin: 0 0 10px !important;
      }
    }
  }
}
/* media queries */