/*---------------------------------------------------
    Gafurov Amir
  ---------------------------------------------------
    mail: gafurovamir@gmail.com
    skype: amir73911
  ---------------------------------------------------*/
/*---------------------------------------------------
    with
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clear {
  clear: both;
}
.input {
  border: none;
  border-bottom: 1px solid #939393;
  background: none;
  color: #000;
  font: 14px/40px 'geometriabold';
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
}
textarea.input {
  resize: vertical;
  line-height: 18px;
  padding: 15px 0;
  min-height: 50px;
  max-height: 100px;
}
.btn {
  -webkit-appearance: none;
  font: 12.8px 'geometriaregular';
  color: #000;
  background: url("../images/message.png") left center no-repeat;
  border: none;
  padding-left: 25px;
  cursor: pointer;
}
.black_back {
  background: #121212;
  padding: 50px 0 35px;
}
.white_block {
  background: #fff;
}
.orange_grad_back {
  background: #ffaf00;
  background: -moz-linear-gradient(left, #ffaf00 0%, #ffd23d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffaf00), color-stop(100%, #ffd23d));
  background: -webkit-linear-gradient(left, #ffaf00 0%, #ffd23d 100%);
  background: -o-linear-gradient(left, #ffaf00 0%, #ffd23d 100%);
  background: -ms-linear-gradient(left, #ffaf00 0%, #ffd23d 100%);
  background: linear-gradient(to right, #ffaf00 0%, #ffd23d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaf00', endColorstr='#ffd23d', GradientType=1);
}
.green_grad_back {
  background: #cddf00;
  background: -moz-linear-gradient(left, #cddf00 0%, #e3ed2b 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #cddf00), color-stop(100%, #e3ed2b));
  background: -webkit-linear-gradient(left, #cddf00 0%, #e3ed2b 100%);
  background: -o-linear-gradient(left, #cddf00 0%, #e3ed2b 100%);
  background: -ms-linear-gradient(left, #cddf00 0%, #e3ed2b 100%);
  background: linear-gradient(to right, #cddf00 0%, #e3ed2b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cddf00', endColorstr='#e3ed2b', GradientType=1);
}
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: 'geometriaregular', sans-serif;
  padding: 92px 0 0;
  font-size: 100%;
}
.site-wrapper {
  width: 100%;
  max-width: 936px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}
.wide_site_wrapper {
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
h1,
h2,
h3 {
  font: 45px/1.2em 'geometriamedium';
  color: #fe6900;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1 span,
h2 span,
h3 span {
  font-family: 'geometriaregular';
  color: #da5a00;
}
h2 {
  font-size: 36px;
  letter-spacing: 0;
}
h3 {
  font-size: 30px;
  letter-spacing: 0;
  font-family: 'geometriabold';
}
h3.gray {
  color: #d5d5d5;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0 10px;
  min-height: 60px;
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fffffff', GradientType=0);
}
header.scroll .logo {
  display: none;
}
header .site-wrapper {
  position: relative;
}
header .menu_toggle {
  background: url("../images/menu_toggle.png") no-repeat;
  width: 51px;
  height: 37px;
  position: absolute;
  top: 50px;
  right: 30px;
  display: none;
}
header .logo {
  float: left;
  background: url("../images/logo.png") no-repeat;
  width: 175px;
  height: 87px;
  display: block;
  margin-top: 10px;
  margin-left: -11px;
}
header .main_nav {
  margin-top: 23px;
  float: right;
}
header .main_nav ul {
  font-size: 0;
}
header .main_nav ul > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
}
header .main_nav ul li {
  padding-left: 42px;
  position: relative;
}
header .main_nav ul li:before {
  content: "|";
  color: #000;
  font: 15px 'geometriabold';
  position: absolute;
  left: 19px;
  top: -3px;
}
header .main_nav ul li:first-child:before {
  content: "";
}
header .main_nav ul li a {
  font-family: 'geometriabold';
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
header .mobile_nav {
  background: #1a1a1a;
  position: absolute;
  top: 133px;
  left: 0;
  width: 100%;
  padding: 20px;
  display: none;
}
header .mobile_nav ul li {
  padding: 4px 0;
}
header .mobile_nav ul li a {
  color: #fff;
  font: 27px 'geometriabold';
  text-decoration: none;
  text-transform: uppercase;
}
/* header */
.earth_rush,
.slider {
  text-align: center;
  font-size: 0;
  margin-bottom: -1px;
}
.earth_rush img,
.slider img {
  width: 100%;
  max-width: 1280px;
  display: inline-block;
}
.slider img {
  max-width: 100%;
}
.game_caption {
  padding: 20px 0;
  font: 21.27px 'geometriabold';
  color: #0c0c0c;
}
.game_caption .site-wrapper {
  position: relative;
}
.game_caption a {
  font-family: 'geometriamedium';
  color: #0c0c0c;
}
.game_caption .development {
  text-align: justify;
  position: absolute;
  top: 5px;
  right: 10px;
  height: 100%;
  font-size: 0;
  width: 45%;
  line-height: 0;
  font-size: 1px;
  /* 1px для Opera */
}
.game_caption .development > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.game_caption .development:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.game_caption .development span {
  font: 40px 'geometriabold_italic';
  color: #0c0c0c;
  text-transform: uppercase;
}
/* orange_block */
.orange_block {
  border: 5px solid #ffd23d;
  padding: 30px 25px;
}
.orange_block p {
  font: 26px/30px 'geometriamedium';
  color: #fff;
  padding-bottom: 30px;
}
.orange_block p span {
  text-transform: uppercase;
  font-family: 'geometriabold';
}
/* orange_block */
.core_team {
  text-align: center;
}
.core_team h2 {
  font: 34px 'geometriabold';
  color: #fff;
  margin-bottom: 15px;
}
.core_team h2 span {
  font-family: 'geometriamedium';
  color: #fff;
}
.core_team .core_team_items {
  font-size: 0;
}
.core_team .core_team_items > * {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.core_team .core_team_items .item {
  width: 25%;
  padding: 20px 10px;
  color: #fff;
}
.core_team .core_team_items .item:hover .image .item_about {
  top: 0;
}
.core_team .core_team_items .item:hover .name {
  color: #ffae00;
}
.core_team .core_team_items .item .image {
  overflow: hidden;
  height: 240px;
  position: relative;
}
.core_team .core_team_items .item .image > img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.core_team .core_team_items .item .image .item_about {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font: 13px/18px 'geometriaregular';
}
.core_team .core_team_items .item .image .item_about .links {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.core_team .core_team_items .item .image .item_about .links a {
  margin: 0 2px;
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  text-align: center;
  font-size: 0;
  background: rgba(0, 0, 0, 0.3);
}
.core_team .core_team_items .item .image .item_about .links a > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.core_team .core_team_items .item .image .item_about .links a:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
}
.core_team .core_team_items .item .name {
  font: 16px 'geometriamedium';
  padding: 8px 0 5px;
}
.core_team .core_team_items .item .post {
  font: 12px 'geometriaregular';
  -moz-opacity: 0.56;
  -khtml-opacity: 0.56;
  -webkit-opacity: 0.56;
  opacity: 0.56;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=56.00000000000001);
  filter: alpha(opacity=56.00000000000001);
}
/* Contacts form */
.contact {
  background: url("../images/contact_back.jpg") center bottom no-repeat;
  min-height: 707px;
  padding: 50px 0 20px;
  color: #000;
}
.contact h2 {
  color: #910180;
  font-size: 45.54px;
  text-align: center;
}
.contact h2 span {
  color: #910180;
}
.contact h3 {
  color: #9dce05;
  font-family: 'geometriamedium_italic';
  text-align: center;
}
.contact h3 span {
  color: #9dce05;
  font-family: 'geometriaitalic';
}
.contact p.head_p {
  text-align: center;
  font: 24px 'geometriamedium_italic';
  margin-bottom: 40px;
}
.contact .feedback_form_caption {
  font: 16px/25px 'geometriabold';
  font-size: 0;
  text-align: center;
  margin: 15px 0 0;
}
.contact .feedback_form_caption > * {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.contact .feedback_form_caption a {
  color: #000;
}
.contact .feedback_form_caption .left {
  width: 220px;
  text-align: left;
}
.contact .feedback_form_caption .right {
  width: 640px;
  text-align: left;
  padding-left: 20px;
}
.contact .feedback_form {
  text-align: center;
  font-size: 0;
}
.contact .feedback_form > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.contact .feedback_form .address {
  font: 18px/24px 'geometriamedium';
  text-align: left;
  width: 220px;
}
.contact .feedback_form .form {
  width: 640px;
  font-size: 0;
  text-align: left;
}
.contact .feedback_form .form .input {
  margin-left: 20px;
  width: 293px;
}
.contact .feedback_form .form textarea.input {
  width: 606px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* Contacts form */
/* footer */
footer {
  padding: 50px 0 60px;
  background: #000;
}
footer .logos {
  margin-bottom: 40px;
  font-size: 0;
}
footer .logos > * {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
}
footer .logos .main_logo {
  width: 32%;
}
footer .logos .logo_list {
  text-align: right;
  width: 68%;
  font-size: 0;
}
footer .logos .logo_list > * {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
}
footer .logos .logo_list .logo {
  margin-left: 25px;
}
footer .logos .logo_list .logo:first-child {
  margin-left: 0;
}
footer .copyrights {
  font: 13.75px 'geometriaregular';
  color: #5a5959;
}
/* footer */
/* media queries */
@media (max-width: 896px) {
  .contact .address {
    text-align: center !important;
  }
  .feedback_form_caption > * {
    margin-bottom: 15px;
    text-align: center !important;
  }
  .feedback_form_caption .right {
    width: auto !important;
  }
}
@media (max-width: 830px) {
  .logos {
    text-align: center;
  }
  .logos > * {
    text-align: center !important;
    width: 100% !important;
  }
  .logos .main_logo {
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .feedback_form_caption {
    text-align: left !important;
  }
  .feedback_form_caption > * {
    text-align: left !important;
    padding-left: 20px !important;
  }
  .feedback_form .form {
    width: 100% !important;
    padding: 0 20px;
  }
  .feedback_form .form .input {
    width: 100% !important;
    margin: 0 0 15px !important;
  }
  .feedback_form .address {
    padding: 0 20px;
    text-align: left !important;
    width: 100% !important;
    margin-bottom: 20px;
  }
}
@media (max-width: 660px) {
  body {
    padding-top: 150px;
  }
  .site-wrapper,
  .wide_site_wrapper {
    padding: 0 20px;
  }
  h1 {
    letter-spacing: 0 !important;
    font-size: 43px !important;
  }
  header {
    height: 133px;
    background: #000;
    padding: 0 !important;
  }
  header.scroll .logo {
    display: block;
  }
  header .logo {
    margin: 20px 0 0 !important;
  }
  header .menu_toggle {
    display: block;
  }
  header .main_nav {
    display: none;
  }
  .core_team .item {
    width: 50% !important;
  }
  .game_caption {
    text-align: center;
  }
  .game_caption .development {
    margin-top: 10px;
    width: 100% !important;
    position: relative;
    text-align: justify;
  }
  .game_caption .development.two {
    text-align: center;
  }
  .logos .logo_list .logo {
    width: 100%;
    margin: 0 0 10px !important;
  }
}
/* media queries */
